.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.inputContainer {
  margin: 10px 0;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #FEC5FB;
}

.copyWrapper {
  position: relative;
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #555;
  padding-right: 40px; /* Extra padding to make space for the icon */
}

input[readonly] {
  background-color: #e9ecef;
}

.copyIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #FF8709;
}

.copyIcon:hover {
  color: #00BAD5;;
}

.copiedMessage {
  margin-top: 5px;
  color: #0AE448;
  font-weight: bold;
  font-size: 14px;
}
.users{
  color: #FFD074;
  text-align: left;
}