.techStackContainer {
  padding: 20px;
  overflow: hidden; /* Ensure the SVGs are clipped when outside the container */
}

.heading {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  color: #a374ff;
  text-align: left;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.leftSection, .rightSection {
  flex: 1;
  margin: 20px;
}

.leftSection {
  font-size: 18px;
}

.infoItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color:#ffffe3;
}
.sure{
  color:#17F1D0;
  margin-bottom: 20px;
}
.icon {
  font-size: 40px; /* Adjust the size of the react-icons */
  color: #00BAD5;  /* Set the color of the icons */
  margin-right: 10px;
}
/* GetInTouch.module.css */

.statusMessage {
  margin-top: 20px; /* Space above the message */
  padding: 10px 15px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  text-align: center; /* Center the text */
  color: #a374ff;
}

/* Success Message */
.statusMessage.success {
  background-color: #d4edda; /* Light green background */
  color: #a374ff;
  border: 1px solid #c3e6cb; /* Border to match background */
}

/* Error Message */
.statusMessage.error {
  background-color: #f8d7da; /* Light red background */
  color: #ff5e57; /* Dark red text */
  border: 1px solid #f5c6cb; /* Border to match background */
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftSection {
    margin-bottom: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.inputField {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f0f0f0;
}

.submitButton {
  padding: 10px 20px;
  background-color: #0AE448;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}
