/* LineDivider.module.css */
.lineDividerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.divider {
  border: none;
  border-top: 1px solid #323228;
  width: 100%; /* Full width for the divider */
  margin: 0;
}

.lottieContainer {
  margin-left: 10px; /* Space between the divider and the Lottie animation */
  width: 50px;
  height: 50px; /* Adjust the size of the Lottie animation */
}

@media (max-width: 768px) {
  .lottieContainer {
    width: 40px;
    height: 40px; /* Smaller size for mobile screens */
  }
}

